{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
    <h2 align="center">Профиль пользователя {{ user.username}}</h2>
    <a align="center" href="{% url 'users:edit'  %}">Редактировать</a>
    <div align="left" border_color="balck">
        {% if user.avatar %}
            <p><img src="{{ user.avatar.url }}" width="300" height="400"></p>
        {% else %}
            <p><img src="{{ default_avatar }}" width="300" height="400"></p>
        {% endif %}
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Электронная почта: {{ user.email }}</p>
        <p> О себе: {{ user.about_user }}</p>
        <p>Пол: {{ user.sex }}</p>
    </div>
{% endblock %}