{% extends "base.html" %}
{% load static %}
{% block title %}Movie detail{% endblock %}
{% block content %}
    <h2>Movie rating</h2>
    {% if movie %}
        <h2>{{ movie.title }}</h2>
        {% if movie.poster %}
            <p><img src="{{ movie.poster.url }}" width="300" height="400"></p>
        {% else %}
            <p><img src="{% get_media_prefix %}default/poster_default.jpg" width="300" height="400"></p>
        {% endif %}
        <p>Режиссёр: {{ movie.director }}</p>
        <p>Дата выхода: {{ movie.release_date }}</p>
        {% for genre in movie.genre.all %}
            <p>{{ genre.genre }}</p>
        {% endfor %}
        {% if movie.avg_rating %}
            <h2>Общая оценка: {{movie.avg_rating}}</h2>
        {% endif %}
        {% if your_score is not None %}
            <h2>ваша оценка: {{ your_score }}</h2>
        {% else %}
            {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Поставить оценку</button>
                </form>
            {% else %}
                <p>Вы не авторизованы. <a href="{% url 'users:login' %}">Войдите</a></p>
            {% endif %}
        {% endif %}
        {% if movie.reviews.all %}
            <p><a href="{% url 'movies:reviews_list' movie.id %}">Обзоры</a></p>
        {% else %}
            <p>Обзоров нет</p>
            <p><a href="{% url 'movies:add_review' movie.id %}">Добавить</a></p>
        {% endif %}
    {% else %}
        <p>This movie doesnt exist</p>
    {% endif %}
{% endblock %}