{% extends "base.html" %}
{% load static %}
{% block title %}Movie detail{% endblock %}
{% block content %}
    <h2>Movie rating</h2>
    {% if movie %}
        <h2>{{ movie.title }}</h2>
        {% if movie.poster %}
            <p><img src="{{ movie.poster.url }}" width="300" height="400"></p>
        {% else %}
            <p><img src="{{ default_poster }}" width="300" height="400"></p>
        {% endif %}
        <p>Режиссёр: {{ movie.director }}</p>
        <p>Дата выхода: {{ movie.release_date }}</p>
        {% for genre in movie.genre.all %}
            <p>{{ genre.genre }}</p>
        {% endfor %}
        {% if movie.avg_rating %}
            <h2>Общая оценка: {{movie.avg_rating}}</h2>
        {% endif %}
        {% if your_score is not None %}
            <h2>Ваша оценка: {{ your_score }}</h2>
        {% else %}
            {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Поставить оценку</button>
                </form>
            {% endif %}
        {% endif %}
        {% if movie.reviews.all %}
            <p><a href="{% url 'movies:reviews_list' movie.id %}">Обзоры</a></p>
        {% else %}
            <p>Обзоров нет</p>
            {% if user.is_authenticated %}
                <p><a href="{% url 'movies:add_review' movie.id %}">Добавить</a></p>
            {% endif %}
        {% endif %}
    {% else %}
        <p>This movie doesn't exist</p>
    {% endif %}
{% endblock %}