{% extends "base.html" %}
{% load static %}
{% block title %}Movies{% endblock %}
{% block content %}
    {% if movies %}
        <div class="cards">
            {% for movie in movies %}
                <div class="movie-card">
                    {% if movie.poster %}
                        <p><img src="{{ movie.poster.url }}" width="300" height="400"></p>
                    {% else %}
                        <p><img src="{{ default_poster }}" width="150" height="200"></p>
                    {% endif %}
                    {{ movie.title }}
                    {% if movie.avg_rating %}
                        <b>{{movie.avg_rating}}</b>
                    {% endif %}
                    <p><a href="{% url 'movies:movie_detail' movie.id %}">Подробнее</a></p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No movies in list</p>
    {% endif %}
    {% if page_obj.has_other_pages %}
        <ul class="pagination">
            {% for page in page_obj.paginator.page_range %}
                <li class="page-item">
                    <a href="?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}