.site-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    color: rgb(72, 39, 255);
    margin-top: auto;
}

.footer-block {
   margin-bottom: auto;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgb(113, 113, 250);
}

.panel {
    background-color: rgb(206, 223, 253);
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 8px;
}

.button-header {
    margin: 3px;
}

.button-header a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #001aff;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-card {
    margin: 10px;
    padding: 5px;
    background-color: rgb(214, 227, 255);
    border-radius: 8px;
    text-align: center;
}

.pagination {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
}

.pagination .page-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.pagination .page-item:hover {
    background-color: #f5f5f5;
}

.pagination .page-item a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #007bff;
}

.pagination .page-item a:hover {
    color: #0056b3;
}

.link-list {
    width: 10%;
    margin-top: 0.5%;
    background-color: rgb(214, 227, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
}

.link-list a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #0011ff;
    transition: 0.3s ease-in-out;
}

.link-list a:hover {
    background-color: #f2f5ff;
    border-radius: 8px;
    transform: translateY(5px);
}

.index-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.top-movie {
    flex: 1;
    margin-top: 0.5%;
    background-color: rgb(214, 227, 255);
    padding: 15px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.top-movie th {
    color: #5356ff;
}

.movie-info {
    border: 1px black;
    display: flex;
    flex-direction: column;
}