h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(113, 113, 250);
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.site-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    color: rgb(72, 39, 255);
    margin-top: auto;
}

.footer-block {
   margin-bottom: auto;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgb(113, 113, 250);
}

.panel {
    background-color: rgb(206, 223, 253);
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.button-header {
    margin: 3px;
}

.movie-card {
    display: inline-block;
    margin: 3px;
}

.link-list {
    width: 200px;
    background-color: rgb(214, 227, 255);
}