body {
    background-color: white;
}

.site-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    background-image:
    linear-gradient(250deg,
    #833AB4 0%,
    #FD1D1D 50%,
    #FCB045 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.panel {
    border: solid 2px;
}

.button-header {
    display: inline-block;
    margin: auto;
    border: 2px solid black;
}