body {
    background-color: white;
}

.site-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    background-image:
    linear-gradient(250deg,
    #833AB4 0%,
    #FD1D1D 50%,
    #FCB045 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.panel {
    border: solid 0.5px purple;
}

.button-header {
    display: inline-block;
    margin: 3px;
    border: 0.1px solid rgb(228, 105, 255);
}

.movie-card {
    display: inline-block;
    border: 0.2px solid red;
    margin: 3px;
}
