h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(113, 113, 250);
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    color: rgb(72, 39, 255);
    margin-top: auto;
}

.footer-block {
   margin-bottom: auto;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgb(113, 113, 250);
}

.panel {
    background-color: rgb(206, 223, 253);
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 8px;
}

.button-header {
    margin: 3px;
}

.movie-card {
    display: inline-block;
    margin: 3px;
}

.link-list {
    width: 10%;
    margin-top: 0.5%;
    background-color: rgb(214, 227, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
}

.index-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.top-movie {
    flex: 1;
    margin-top: 0.5%;
    background-color: rgb(214, 227, 255);
    padding: 15px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

form {
    background-color: rgb(183, 183, 255);
    width: 40%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}